name: Test Ansible playbook to bootstrap development environment

on:
  - push

jobs:
  play:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: ./install

      - name: Run Playbook
        run: ./bootstrap
