---
- name: Add PPA repository with most recent version of wslu
  become: true
  ansible.builtin.apt_repository:
    repo: 'ppa:wslutilities/wslu'
    state: present
  when: ansible_distribution == "Ubuntu"

- name: Install keychain in Ubuntu
  become: true
  ansible.builtin.apt:
    name:
      - keychain
  when: ansible_distribution == "Ubuntu"

- name: Install wslu in Ubuntu
  become: true
  ansible.builtin.apt:
    name:
      - wslu
    update_cache: true
  when: ansible_distribution == "Ubuntu"

- name: Check if wslu is installed
  ansible.builtin.stat:
    path: /usr/local/bin/wslgsu
  register: wslu_build
  when: ansible_distribution == "Fedora"

- name: Build wslu in Linux
  community.general.make:
    chdir: deps/wslu
  environment: 
    PREFIX: /usr/local
  when: ansible_distribution == "Fedora"

- name: Install wslu in Linux
  become: true
  community.general.make:
    chdir: deps/wslu
    target: install
  environment: 
    PREFIX: /usr/local
  when: ansible_distribution == "Fedora"

- name: Add win32yank wrapper executable script into PATH
  copy:
    src: win32yank
    dest: "{{ ansible_env.HOME }}/.local/bin/win32yank.exe"
    mode: "u+x"
